[submodule "dependencies/libquicr"]
	path = dependencies/libquicr
	url = https://github.com/Quicr/libquicr.git
	branch = main
[submodule "dependencies/doctest"]
	path = dependencies/doctest
	url = https://github.com/doctest/doctest.git
[submodule "dependencies/numero-uri"]
	path = dependencies/numero-uri
	url = https://github.com/Quicr/numero-uri.git
[submodule "dependencies/sframe"]
	path = dependencies/sframe
	url = https://github.com/Quicr/sframe.git
