[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "dependencies/libquicr"]
	path = dependencies/libquicr
	url = git@github.com:Quicr/new-libquicr.git
	branch = main
